body{
    background-color: aliceblue;
}
table{
    margin: 20px auto;
}
#myImg{
    width: 120px;
    height: 200px; 
    display: inline-block; 
    border: 1px solid aquamarine ; 
    border-radius: 50%;
}
button{
    width: 50px;
    height: 50px;
    border: 1px solid aliceblue;
    border-radius: 40%;
    background-color: blanchedalmond;
}
button:hover{
    background-color: brown;
}