body {
    background-color: bisque;
}

table {
    margin: 20px auto;
    text-align: center;
    background-color: bisque;
}
td{
    margin: 5px auto;
}
.timer {
    width: 400px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20%;
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
}
button{
   
    border: 1px solid aliceblue;
    border-radius: 40%;
    padding: 30px ;
    background-color: greenyellow;
}
button:hover{
    background-color: brown;
}
.delete{
    background-color: red;
}
.pause{
    background-color: rgb(228, 228, 35);
}
.continue{
    background-color: rgba(0, 0, 255, 0.76);
}